/* Icons */

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.eot');
	src: url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
	   url('../fonts/icons.woff') format('woff'),
	   url('../fonts/icons.ttf') format('truetype'),
	   url('../fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Edit order */

#woocommerce-delivery-notes-box .inside {
	margin: 0;
	padding: 0;
}

#woocommerce-delivery-notes-box .button {
	overflow: hidden;
	max-width: 100%;
	text-overflow: ellipsis;
	margin-top: 0.65em;
	margin-bottom: 0.35em;
}

#woocommerce-delivery-notes-box span.print-preview-loading {
	position: absolute;
	right: 2.5em;
	top: -2.1em;
}

#woocommerce-delivery-notes-box .print-actions {
	padding: 10px 12px;
}

#woocommerce-delivery-notes-box .print-info {
	margin-top: 0.3em;
	border-top: 1px solid #ddd;
	padding: 10px 12px;
	margin-bottom: 0;
	background-color: #f5f5f5;
}

/* All orders */

.type-shop_order .column-order_actions .print-preview-button {
	display: block;
	text-indent: -9999px;
	position: relative;
	height: 1em;
	width: 1em;
	padding: 0 !important;
	height: 2em !important;
	width: 2em;
}

.type-shop_order .column-order_actions .print-preview-button:before {
	font-family: "icons";
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	content: "";
	line-height: 1.85;
	
	content: "\e603";
} 

.type-shop_order .column-order_actions .print-preview-button.invoice:before {
	content: "\e602";
}

.type-shop_order .column-order_actions .print-preview-button.delivery-note:before {
	content: "\e601";
}

.type-shop_order .column-order_actions .print-preview-button.receipt:before {
	content: "\e604";
}

.type-shop_order .column-order_actions .print-preview-button.credit-note:before {
	content: "\e600";
}

.type-shop_order .column-order_actions span.print-preview-loading {
	float: left;
	margin-top: 3px;
}

.type-shop_order .column-order_actions .print-preview-button span {
	display:  none;
}

.print-preview-loading {
	visibility: hidden;
	vertical-align: middle;
	margin: 0;
}

.print-preview-loading.is-active {
	visibility: visible;
}

/* Settings */

.wcdn-image-select-field {
	position: relative;
	overflow: hidden;
	background-color: white;
	border: 1px solid #ddd;
	width: 125px;
	height: 125px;
}

.wcdn-image-select-attachment {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.wcdn-image-select-attachment .thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate( 50%, 50% );
	-ms-transform: translate(50%,50%);
	transform: translate( 50%, 50% );
}

.wcdn-image-select-attachment img {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 100%;
	max-width: none;
	-webkit-transform: translate( -50%, -50% );
	-ms-transform: translate(-50%,-50%);
	transform: translate( -50%, -50% );
}

.wcdn-image-select-attachment img.portrait {
	max-height: none;
	max-width: 100%;
}

.wcdn-image-select-spinner {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
} 

.wcdn-image-select-buttons {
	position: absolute;
	left: 0;
	bottom: 0;
	padding-left: 10px;
	padding-bottom: 10px;
}

.wcdn-image-select-buttons .button {
	max-width: 105px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}