#woocommerce-delivery-notes-box .inside {
	text-align: center;
}
#woocommerce-delivery-notes-box .inside ul {
	display: inline-block;
}
#woocommerce-delivery-notes-box .inside ul li {
	margin: 3px;
	display: inline-block;
}
#woocommerce-delivery-notes-box .inside img.loading,
.type-shop_order .column-order_actions img.loading {
	display: none;
	vertical-align: middle;
}
.type-shop_order .column-order_actions img.loading {
	float: left;
	margin-top: 3px;
}
.type-shop_order .column-order_actions .print-preview-button span {
	display:  none;
}
#company-logo-placeholder {
	display: block;
}
#company-logo-placeholder.loading {
	background-image: url("../../../../wp-admin/images/wpspin_light.gif");
	background-repeat: no-repeat; 
	height: 20px;
}
#company-logo-placeholder img {
	cursor: pointer;
}