/* Table of Contents

* CSS Reset
* Delivery Note Page Layout
* CSS Media Queries for Print

*/

/* Simple CSS Reset and Print options
------------------------------------------*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, table, ol, ul, dl, li, dt, dd {
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Template Page Layout
------------------------------------------*/

#content {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
}

/* Main Body */
body {
	background: #fff;
	color: #000;
	font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	line-height: 125%;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

li,
ul {
	margin-bottom: 1.25em;
}

p + p {
	margin-top: 1.25em;
}

/* Basic Table Styling */
table {
	border-top: 1px #ccc solid;
}

td,
th {
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	padding: 0.375em;
	vertical-align: middle;
}

th {
	color: #000;
	font-weight: bold;
	text-align: left;
}

/* Special Margin & Overflow Stylings */
#letter-header,
#order-items,
#order-summary,
#order-notes {
	margin-bottom: 3em;
}

#order-info,
#order-summary {
	margin-bottom: 6em;
}

#page,
#letter-header,
#order-listing,
#order-summary,
#order-notes,
#letter-footer {
	overflow: hidden;
}

/* Delivery Notes Head */
#letter-header .heading {
	float: left;
	width: 50%;
	font-weight: bold;
	font-size: 2em;
	line-height: 125%;
}


#letter-header .company-name {
font-weight: bold;
}

#letter-header .company-info {
	float: right;
	width: 50%;
	margin-top: 0.45em;
}

/* Order Listing - #order-listing */
#order-listing {
	float: right;
	width: 50%;
}

/* Order Info - #order-info */
#order-info {
	float: left;
	width: 50%;
}

/* Order Items - #order-items */
#order-items {
	clear: both;
}

#order-items table {
	width: 100%;
}

#order-items .description {
	width: 50%;
}

#order-items .price {
	width: 25%;
}

#order-items dl {
	display: inline;
	margin-bottom: 0;
	color: #666;
}

#order-items dt,
#order-items dd {
	display: inline;
	margin-bottom: 0;
	font-size: 0.75em;
}
#order-items dt {
	margin-left: 0.75em;
}

#order-items dd {
	margin-left: 0.2em;
}

/* Order Summary - #order-summary */
#order-summary table {
	float: right;
	width: 50%;
}

#order-summary .price {
	width: 50%;
}

#order-summary tr:last-child th,
#order-summary tr:last-child td {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

#order-summary small {
	font-size: 0.75em;
	color: #666;
}

/* Order Notes - #order-notes */
#order-notes {
}
#order-notes .notes-shipping {
	float: left;
	width: 50%;
}
#order-notes .notes-personal {
	float: right;
	width: 50%;
	font-weight: bold;
}

/* Footer Imprint */
#letter-footer {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	color: #666;
	font-size: 0.75em;
}

#letter-footer p + p {
	margin-top: 1em;
}

#letter-footer .policies,
#letter-footer .imprint {
	margin-bottom: 1em;
}


/* CSS Media Queries for Print
------------------------------------------*/

@media print {
	body {
		font-size: 8pt;
	}
}
