/* Simple CSS Reset and Print options
------------------------------------------*/


html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, table, ol, ul, dl, li, dt, dd {
	border: 0 none;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#navigation {
	background-color: #f7f7f7;
	z-index: 200;
	border-bottom: 1px solid #dfdfdf;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
	padding: 6px;
}

#navigation .button {
	display: inline-block;
	text-decoration: none;
	font-size: 12px;
	line-height: 23px;
	height: 24px;
	margin: 0;
	padding: 0 10px 1px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 3px;
	-webkit-appearance: none;
	border-radius: 3px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f4f4f4));
	background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4);
	background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4);
	background-image: -o-linear-gradient(top, #fefefe, #f4f4f4);
	background-image: linear-gradient(to bottom, #fefefe, #f4f4f4);
	border-color: #bbb;
 	color: #333;
	text-shadow: 0 1px 0 #fff;
}

#navigation .button:hover,
#navigation .button:focus {
	background: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
	background-image: -webkit-linear-gradient(top, #fff, #f3f3f3);
	background-image: -moz-linear-gradient(top, #fff, #f3f3f3);
	background-image: -ms-linear-gradient(top, #fff, #f3f3f3);
	background-image: -o-linear-gradient(top, #fff, #f3f3f3);
	background-image: linear-gradient(to bottom, #fff, #f3f3f3);
	border-color: #999;
	color: #222;
}

#navigation .button:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fefefe));
	background-image: -webkit-linear-gradient(top, #f4f4f4, #fefefe);
	background-image: -moz-linear-gradient(top, #f4f4f4, #fefefe);
	background-image: -ms-linear-gradient(top, #f4f4f4, #fefefe);
	background-image: -o-linear-gradient(top, #f4f4f4, #fefefe);
	background-image: linear-gradient(to bottom, #f4f4f4, #fefefe);
	border-color: #999;
	color: #333;
	text-shadow: 0 -1px 0 #fff;
	-webkit-box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
 	box-shadow: inset 0 2px 5px -3px rgba( 0, 0, 0, 0.5 );
}


/* Template Page Layout
------------------------------------------*/


/* Main Body */
body {
	background: #fff;
	color: #000;
	font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
	font-size: 0.875em;
	line-height: 125%;
}

h1,
h2,
h3,
h4 {
	font-weight: bold;
}

li,
ul {
	margin-bottom: 1.25em;
}

p + p {
	margin-top: 1.25em;
}

/* Basic Table Styling */
table {
	page-break-inside: auto;
}

tr {
	border-top: 1px #ccc solid;
	border-bottom: 1px #ccc solid;
	page-break-inside: avoid;
	page-break-after: auto;	
}

td,
th {
	border-left: 1px #ccc solid;
	border-right: 1px #ccc solid;
	padding: 0.375em;
	vertical-align: middle;
}

th {
	color: #000;
	font-weight: bold;
	text-align: left;
}

/* Special Margin & Overflow Stylings */
#page {
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
/* 	page-break-after: always;	 */
}

#letter-header,
#order-items,
#order-summary,
#order-notes {
	margin-bottom: 3em;
}

#order-info,
#order-summary {
	margin-bottom: 6em;
}

#page,
#letter-header,
#order-listing,
#order-summary,
#order-notes,
#letter-footer {
	overflow: hidden;
}

#order-items,
#order-summary,
#order-notes {
	page-break-before: auto;
	page-break-after: auto;
}

/* Delivery Notes Head */
#letter-header .heading {
	float: left;
	width: 50%;
	font-weight: bold;
	font-size: 2em;
	line-height: 125%;
}

#letter-header .company-name {
	font-weight: bold;
}

#letter-header .company-info {
	float: right;
	width: 50%;
	margin-top: 0.45em;
}

/* Order Listing - #order-listing */
#order-listing {
	float: right;
	width: 50%;
}

/* Order Info - #order-info */
#order-info {
	float: left;
	width: 50%;
}

/* Order Items - #order-items */
#order-items {
	clear: both;
}

#order-items table {
	width: 100%;
}

#order-items .description {
	width: 50%;
}

#order-items .price {
	width: 25%;
}

#order-items dl {
	display: inline;
	margin-bottom: 0;
	color: #666;
}

#order-items dt,
#order-items dd {
	display: inline;
	margin-bottom: 0;
	font-size: 0.75em;
}
#order-items dt {
	margin-left: 0.75em;
}

#order-items dd {
	margin-left: 0.2em;
}

/* Order Summary - #order-summary */
#order-summary {
	float: right;
	width: 50%;
}

#order-summary table {
	width: 100%;
	page-break-inside: avoid;
}

#order-summary .price {
	width: 50%;
}

#order-summary tr:last-child {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	font-weight: bold;
}

#order-summary small,
#order-summary .includes_tax {
	font-size: 0.75em;
	color: #666;
}

/* Order Notes - #order-notes */
#order-notes {
	clear: both;
}
#order-notes .notes-shipping {
	float: left;
	width: 50%;
}
#order-notes .notes-personal {
	float: right;
	width: 50%;
	font-weight: bold;
}

/* Footer Imprint */
#letter-footer {
	border-top: 1px solid #ccc;
	padding-top: 1em;
	color: #666;
	font-size: 0.75em;
}

#letter-footer p + p {
	margin-top: 1em;
}

#letter-footer .policies,
#letter-footer .imprint {
	margin-bottom: 1em;
}


/* CSS Media Queries for Print
------------------------------------------*/

@media print {
	body {
		font-size: 8pt;
	}
	
	#navigation {
		display: none;
	}
}
